################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/n4d
/bin/Release64
/ext/coolsb/obj/Release_x64
/ext/scintilla/obj/Release_x64
/obj
/bin/n4d.settings
/src/res/Shields29.bmp
/src/res/Shields24.bmp
/src/res/Shields.bmp
/src/res/Shield-light.png
/src/res/Shield-dark.png
/src/res/SaveFile-light.png
/src/res/SaveFile-dark.png
/src/res/SaveAs-light.png
/src/res/SaveAs-dark.png
/src/res/quickbar_light.bmp
/src/res/quickbar_dark.bmp
/src/res/Print-light.png
/src/res/Print-dark.png
/src/res/OpenFolder-light.png
/src/res/OpenFolder-dark.png
/src/res/OpenFile-light.png
/src/res/OpenFile-dark.png
/src/res/NewDoc-light.png
/src/res/NewDoc-dark.png
/src/res/History-light.png
/src/res/History-dark.png
/src/res/Folder-light.png
/src/res/Folder-dark.png
/src/res/Add-light.png
/src/res/Add-dark.png
