################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/n4d
/bin/Release64
/ext/coolsb/obj/Release_x64
/ext/scintilla/obj/Release_x64
/obj
